<form
  nz-form
  [formGroup]="changePassForm"
  class="login-form"
  novalidate
  (ngSubmit)="submitForm()"
>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your current password!">
      <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate1">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          nz-input
          formControlName="password"
          placeholder="Current Password"
        />
      </nz-input-group>
      <ng-template #suffixTemplate1>
        <i
          nz-icon
          [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
          (click)="passwordVisible = !passwordVisible"
        ></i>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="newPassErrors" nzHasFeedback>
      <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate2">
        <input
          [type]="newPasswordVisible ? 'text' : 'password'"
          nz-input
          formControlName="newPassword"
          placeholder="New password"
        />
        <ng-template #newPassErrors let-control>
          <ng-container *ngIf="control.hasError('required')">Please input your new password!</ng-container>
          <ng-container *ngIf="control.hasError('pattern')">Password must be at least 6 characters long and contain one upresscase, one lowercase letter, one number and one special character</ng-container>
        </ng-template>
      </nz-input-group>
      <ng-template #suffixTemplate2>
        <i
          nz-icon
          [nzType]="newPasswordVisible ? 'eye-invisible' : 'eye'"
          (click)="newPasswordVisible = !newPasswordVisible"
        ></i>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="newPassAgainErrors" nzHasFeedback>
      <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate3">
        <input
          [type]="newPasswordAgainVisible ? 'text' : 'password'"
          nz-input
          formControlName="newPasswordAgain"
          placeholder="Retype new password"
        />
        <ng-template #newPassAgainErrors let-control>
          <ng-container *ngIf="control.hasError('required')">Please input your new password again!</ng-container>
          <ng-container *ngIf="control.hasError('mustMatch')">Repeated password don't match new pasword!</ng-container>
        </ng-template>
      </nz-input-group>
      <ng-template #suffixTemplate3>
        <i
          nz-icon
          [nzType]="newPasswordAgainVisible ? 'eye-invisible' : 'eye'"
          (click)="newPasswordAgainVisible = !newPasswordAgainVisible"
        ></i>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <div style="display: flex; justify-content: end;">
    <button
      nz-button
      type="button"
      (click)="onCancel()"
      default
      style="margin-right: 6px"
    >
      Cancel
    </button>
    <button nz-button type="submit" nzType="primary">Change</button>
  </div>
</form>
